.videoArea {
    height: 60vh;
}

.videoEle {
    height: 50%;
    display: block;
    margin: 0px auto;
}

.videoEleSelected {
    outline: 4px solid orange;
    outline-offset: -3px;
}

.videoButtonArea {
    height: 7vh;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.videoButtonEle {
    /* background: turquoise;
    border: 5px dotted lightgrey;
    color: lavenderblush; */
    background: #96DED1;
    border: 3px dotted lightseagreen;
    color: steelblue;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.videoBarArea {
    height: 16vh;
    margin-top: 3vh;
}
